:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;
  --active: #6bff21;

  --first-brand-color: #ebebeb;
  --second-brand-color: #9d1f24;

  --main-font: 'Wix Madefor Display';
  --title-font: 'Wix Madefor Display ExtraBold';

  font-size: 62.5%;
}
